* {
    padding: 0;
    margin: 0;
}

:root {
    --color: rgb(0, 0, 0);
    --seccolor: rgb(38, 38, 38);
    --txtcolor: rgb(205, 205, 205);
}

header {
    position: sticky;
    top: 0;
}

header nav {
    display: flex;
    height: 70px;
    background-color: var(--color);
    color: var(--txtcolor);
    font-size: 1.5rem;
    align-items: center;
    position: sticky;
    justify-content: space-around;
}

header nav ul {
    display: flex;
    gap: 29px;
    color: rgb(0, 123, 255);
}

header nav ul li {
    list-style: none;
}

header nav ul li:hover {
    font-size: 1.6rem;
    color: var(--txtcolor);
    cursor: pointer;
}

.logo {
    font-family: poppins;
    font-weight: 700;
    background: linear-gradient(to right, rgb(77, 171, 247), rgb(232, 116, 255));
    -webkit-background-clip: text;
    color: transparent;
}

.toggle {
    border: 2px solid grey;
    height: 30px;
    width: 50px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
}

.toggle .circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid grey;
    position: absolute;
    margin: 3px;
}

.one {
    font-size: 3rem;
    font-family: poppins;
    padding: 250px 0 35px 25px;
    font-weight: 500;
    color: white;
}

.two {
    padding-left: 25px;
    font-size: 1.3rem;
}

.three {
    padding-left: 25px;
    padding-top: 25px;
}

.three button {
    font-size: 1.2rem;
    padding: 10px 20px;
    color: white;
    background-color: rgb(58, 174, 213);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.three button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: var(--txtcolor);
}

.three:hover {
    padding-left: 15px;
    padding-top: 15px;
}

.intro {
    background-color: var(--seccolor);
    color: var(--txtcolor);
    height: 755px;
}

.name {
    background: linear-gradient(to right, rgb(77, 171, 247), rgb(232, 116, 255));
    -webkit-background-clip: text;
    color: transparent;
    animation: name-animation 4s ease-in;
    font-family: outfit;
}

.about-section {
    background-color: var(--color);
    color: var(--txtcolor);
    height: 825px;
    font-family: poppins;
    text-align: center;
}

.about-section h1 {
    font-size: 4rem;
    padding-top: 250px;
}

.about-section p {
    font-size: 1.2rem;
    width: 80vw;
    margin: 40px auto;
}

.projects-section {
    font-family: poppins;
    background-color: var(--color);
    height: 90vh;
}

.projects-section h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
}

.projects-section .container {
    height: 273px;
    width: 455px;
    background-color: var(--seccolor);
    color: var(--txtcolor);
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.projects-section .container button {
    height: 40px;
    width: 110px;
    margin: 10px;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(58, 174, 213);
    transition: all 0.2s ease-in-out;
}

.projects-section .container button:hover {
    transform: scale(1.1);
    background-color: rgb(58, 174, 213,0.5);
}

.projects-section .container button a {
    text-decoration: none;
    color: white;
}

.projects-section .container button a:visited {
    text-decoration: none;
    color: var(--txtcolor);
}

.projects-section .container:hover {
    transform: translateY(-5px) scale(1.05);
    background-color: rgb(64, 64, 64);
}


.skills-section {
    background-color: var(--color);
    color: var(--txtcolor);
    text-align: center;
    font-family: poppins;
    height: 90vh;
}

.skills-section h1 {
    font-size: 3rem;
    color: white;
}

.skills-section .container {
    height: 110px;
    width: 170px;
    background-color: var(--seccolor);
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.skills-section img {
    height: 45px;
    margin-top: 20px;
}

.skills-section .container:hover {
    height: 120px;
    width: 180px;
    padding-top: -5px;
    background-color: rgb(64, 63, 63);
}

.contact-section {
    background-color: var(--color);
    padding: 50px;
    font-family: poppins;
    text-align: center;
    height: 50vh;
    color: var(--txtcolor);
}

.contact-section h2 {
    font-size: 2rem;
    color: white;
}

.contact-section p {
    font-size: 1.5rem;
}

.contact-section ul li {
    margin: auto;
    list-style: none;
    font-size: 1.2rem;
}

.contact-section ul li a{
    color: var(--txtcolor);
    transition: all 0.3s ease-in-out;
}
.contact-section ul li a:visited {
    color: var(--txtcolor);
    text-decoration: none;
}
.contact-section ul li a:hover{
    font-size: 1.3rem;
    color: rgb(165, 165, 165);
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--txtcolor);
    background-color: var(--color);
}

.contact-logo a img {
    height: 30px;
    width: 30px;
    margin: 20px 10px;
    filter: invert(100%);
    transition: all 0.2s ease-in-out;
}

.contact-logo a img:hover {
    filter: invert(80%) opacity(0.7);
    height: 35px;
    width: 35px;
}

@keyframes name-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}